/* website styles */
 * {
  font-size: 100%;
  /* margin: 0; */
  line-height: 1;
  border: 1px solid red;
  box-sizing: border-box;
}
body {
  background-color: lightsteelblue;
  color: black;
  font-family: helvetic;
  font-size: 16px;
  margin: 0px 0px 0px 0px;
  /* background-image: url(images/forrest_1.jpg); */
  background-repeat: repeat;
}
h1{
  font-size: 36px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
h1, h2, h3 {
  font-weight: bold;
  margin-bottom: none;
  /* font-style: italic; */
}
p {
  line-height: 2;
}
h1 {
  text-align: justify;
}
footer p {
  text-align: center;
}

a{
color: black;
text-decoration: none;
}
p {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
}
/* a:active {
  color: green;
  text-decoration: none;
} */
a:hover {
  text-decoration: underline;
  color: none;
}
/* a:visited {
  color: green;
} */
p {
   margin: 50px 20px;
   background-color: silver;
}
ul, ol {
  margin: 50px 0;
}
footer {
  padding: 100px;
}
h1 {
  /* border-bottom: 30px solid black; */
}
section {
  border: none;
}
header {
  /* border-bottom: 50px solid grey; */
  font-family: 'caveat', cursive;
  background-color: lightsteelblue;
}
section {
  border: 1px solid gainsboro;
  background-color: none;
  margin: ;
  padding: ;
}
section {
  width: none;
  background-color: silver;
}
img {
  width: 400px;
  height: 300px;
}
.title {
  margin-right: none;
  font-size: 70px;
  text-decoration: underline;
  color: black;
  background-color: lightsteelblue;
}
h1 {
  color: blue;
}
.photo {
  margin-top: none;
}
#about {
  background-color: red;
}
h2 {
  text-align: right;
  word-spacing: 20px;
}
a {
  background-color: silver;
  font-family: 'caveat', cursive;
}
/* .container {
  max-width: 1000px;
  margin: 0px auto; */
}
.banner {
  height: 500px;
  background-image: url(images/forrest.jpg);
  background-size: cover;
  background-position: center;
}
